---
title: Hamiltonian Vector Fields?
bookToC: false
categories: ["Maths"]
date: 2024-09-17
---

<!DOCTYPE html><html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Untitled Document</title>
<!--Generated on Tue Sep 17 17:09:47 2024 by LaTeXML (version 0.8.8) http://dlmf.nist.gov/LaTeXML/.-->

<link rel="stylesheet" href="LaTeXML.css" type="text/css">
<link rel="stylesheet" href="ltx-article.css" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="ltx_page_main">
<div class="ltx_page_content">
<article class="ltx_document">
<div id="p1" class="ltx_para">
<p class="ltx_p">In physics the primary object that we are often want to understand is the <span class="ltx_text ltx_font_italic">Hamiltonian<span id="footnote1" class="ltx_note ltx_role_footnote"><sup class="ltx_note_mark">1</sup><span class="ltx_note_outer"><span class="ltx_note_content"><sup class="ltx_note_mark">1</sup><span class="ltx_tag ltx_tag_note"><span class="ltx_text ltx_font_upright">1</span></span><span class="ltx_text ltx_font_upright">or Lagrangian</span></span></span></span></span> of a system, denoted by <math id="p1.m1" class="ltx_Math" alttext="H" display="inline"><mi>H</mi></math>. Let <math id="p1.m2" class="ltx_Math" alttext="M" display="inline"><mi>M</mi></math> be the phase space of our system and so <math id="p1.m3" class="ltx_Math" alttext="H:M\rightarrow\mathbb{R}:(q,p)\mapsto H(q,p)" display="inline"><mrow><mi>H</mi><mo lspace="0.278em" rspace="0.278em">:</mo><mrow><mi>M</mi><mo stretchy="false">→</mo><mi>ℝ</mi></mrow><mo lspace="0.278em" rspace="0.278em">:</mo><mrow><mrow><mo stretchy="false">(</mo><mi>q</mi><mo>,</mo><mi>p</mi><mo stretchy="false">)</mo></mrow><mo stretchy="false">↦</mo><mrow><mi>H</mi><mo>⁢</mo><mrow><mo stretchy="false">(</mo><mi>q</mi><mo>,</mo><mi>p</mi><mo stretchy="false">)</mo></mrow></mrow></mrow></mrow></math>. <math id="p1.m4" class="ltx_Math" alttext="H" display="inline"><mi>H</mi></math> gives rise to dynamics through <span class="ltx_text ltx_font_italic">Hamilton’s Equations</span></p>
<table id="S0.E1" class="ltx_equation ltx_eqn_table">

<tbody><tr class="ltx_equation ltx_eqn_row ltx_align_baseline">
<td class="ltx_eqn_cell ltx_eqn_center_padleft"></td>
<td class="ltx_eqn_cell ltx_align_center"><math id="S0.E1.m1" class="ltx_Math" alttext="\frac{dq}{dt}=\frac{\partial H}{\partial p}\;\;,\quad\frac{dp}{dt}=-\frac{%
\partial H}{\partial p}." display="block"><mrow><mrow><mrow><mfrac><mrow><mi>d</mi><mo>⁢</mo><mi>q</mi></mrow><mrow><mi>d</mi><mo>⁢</mo><mi>t</mi></mrow></mfrac><mo>=</mo><mfrac><mrow><mo rspace="0em">∂</mo><mi>H</mi></mrow><mrow><mo rspace="0em">∂</mo><mi>p</mi></mrow></mfrac></mrow><mo lspace="0.560em" rspace="1.167em">,</mo><mrow><mfrac><mrow><mi>d</mi><mo>⁢</mo><mi>p</mi></mrow><mrow><mi>d</mi><mo>⁢</mo><mi>t</mi></mrow></mfrac><mo>=</mo><mrow><mo>−</mo><mfrac><mrow><mo rspace="0em">∂</mo><mi>H</mi></mrow><mrow><mo rspace="0em">∂</mo><mi>p</mi></mrow></mfrac></mrow></mrow></mrow><mo lspace="0em">.</mo></mrow></math></td>
<td class="ltx_eqn_cell ltx_eqn_center_padright"></td>
<td rowspan="1" class="ltx_eqn_cell ltx_eqn_eqno ltx_align_middle ltx_align_right"><span class="ltx_tag ltx_tag_equation ltx_align_right">(1)</span></td>
</tr></tbody>
</table>
<p class="ltx_p">While these equations can be thought of as just a system of PDES to be attacked, it is useful to think of them geometrically. By this I mean we think of the time derivatives appearing in (<a href="#S0.E1" title="" class="ltx_ref"><span class="ltx_text ltx_ref_tag">1</span></a>) as components of a velocity. Let <math id="p1.m5" class="ltx_Math" alttext="m=(q,p)\in M" display="inline"><mrow><mi>m</mi><mo>=</mo><mrow><mo stretchy="false">(</mo><mi>q</mi><mo>,</mo><mi>p</mi><mo stretchy="false">)</mo></mrow><mo>∈</mo><mi>M</mi></mrow></math> and embed a parametric curve <math id="p1.m6" class="ltx_Math" alttext="\gamma:[-1,1]\rightarrow M:t\mapsto\gamma(t)" display="inline"><mrow><mi>γ</mi><mo lspace="0.278em" rspace="0.278em">:</mo><mrow><mrow><mo stretchy="false">[</mo><mrow><mo>−</mo><mn>1</mn></mrow><mo>,</mo><mn>1</mn><mo stretchy="false">]</mo></mrow><mo stretchy="false">→</mo><mi>M</mi></mrow><mo lspace="0.278em" rspace="0.278em">:</mo><mrow><mi>t</mi><mo stretchy="false">↦</mo><mrow><mi>γ</mi><mo>⁢</mo><mrow><mo stretchy="false">(</mo><mi>t</mi><mo stretchy="false">)</mo></mrow></mrow></mrow></mrow></math> in <math id="p1.m7" class="ltx_Math" alttext="M" display="inline"><mi>M</mi></math>. Trivialise a neighbourhood of <math id="p1.m8" class="ltx_Math" alttext="\gamma(0)" display="inline"><mrow><mi>γ</mi><mo>⁢</mo><mrow><mo stretchy="false">(</mo><mn>0</mn><mo stretchy="false">)</mo></mrow></mrow></math> so we have <math id="p1.m9" class="ltx_Math" alttext="\gamma(t)=(q(t),p(t))" display="inline"><mrow><mrow><mi>γ</mi><mo>⁢</mo><mrow><mo stretchy="false">(</mo><mi>t</mi><mo stretchy="false">)</mo></mrow></mrow><mo>=</mo><mrow><mo stretchy="false">(</mo><mrow><mi>q</mi><mo>⁢</mo><mrow><mo stretchy="false">(</mo><mi>t</mi><mo stretchy="false">)</mo></mrow></mrow><mo>,</mo><mrow><mi>p</mi><mo>⁢</mo><mrow><mo stretchy="false">(</mo><mi>t</mi><mo stretchy="false">)</mo></mrow></mrow><mo stretchy="false">)</mo></mrow></mrow></math>, then <math id="p1.m10" class="ltx_Math" alttext="\dot{\gamma}" display="inline"><mover accent="true"><mi>γ</mi><mo>˙</mo></mover></math> is exactly the LHS components of Hamilton’s equations. Such curves whose velocities satisfy (<a href="#S0.E1" title="" class="ltx_ref"><span class="ltx_text ltx_ref_tag">1</span></a>) are called <span class="ltx_text ltx_font_italic">integral curves</span> of the equations. The <span class="ltx_text ltx_font_italic">fundamental theorem of vector fields</span> guarantee the local existence of such curves.</p>
</div>
<div id="p2" class="ltx_para">
<p class="ltx_p">Now that we are thinking about the LHS of Hamilton’s equations vectorially we might as well do the same with the RHS. By this I mean we should write (<a href="#S0.E1" title="" class="ltx_ref"><span class="ltx_text ltx_ref_tag">1</span></a>) in a new way</p>
<table id="S0.E2" class="ltx_equation ltx_eqn_table">

<tbody><tr class="ltx_equation ltx_eqn_row ltx_align_baseline">
<td class="ltx_eqn_cell ltx_eqn_center_padleft"></td>
<td class="ltx_eqn_cell ltx_align_center"><math id="S0.E2.m1" class="ltx_Math" alttext="(\dot{q},\dot{p})=\left(\frac{\partial H}{\partial p},-\frac{\partial H}{%
\partial p}\right)=X_{H}(q,p)" display="block"><mrow><mrow><mo stretchy="false">(</mo><mover accent="true"><mi>q</mi><mo>˙</mo></mover><mo>,</mo><mover accent="true"><mi>p</mi><mo>˙</mo></mover><mo stretchy="false">)</mo></mrow><mo>=</mo><mrow><mo>(</mo><mfrac><mrow><mo rspace="0em">∂</mo><mi>H</mi></mrow><mrow><mo rspace="0em">∂</mo><mi>p</mi></mrow></mfrac><mo>,</mo><mrow><mo>−</mo><mfrac><mrow><mo rspace="0em">∂</mo><mi>H</mi></mrow><mrow><mo rspace="0em">∂</mo><mi>p</mi></mrow></mfrac></mrow><mo>)</mo></mrow><mo>=</mo><mrow><msub><mi>X</mi><mi>H</mi></msub><mo>⁢</mo><mrow><mo stretchy="false">(</mo><mi>q</mi><mo>,</mo><mi>p</mi><mo stretchy="false">)</mo></mrow></mrow></mrow></math></td>
<td class="ltx_eqn_cell ltx_eqn_center_padright"></td>
<td rowspan="1" class="ltx_eqn_cell ltx_eqn_eqno ltx_align_middle ltx_align_right"><span class="ltx_tag ltx_tag_equation ltx_align_right">(2)</span></td>
</tr></tbody>
</table>
<p class="ltx_p">where we have introduced a new object <math id="p2.m1" class="ltx_Math" alttext="X_{H}" display="inline"><msub><mi>X</mi><mi>H</mi></msub></math>, which is called the <span class="ltx_text ltx_font_italic">Hamiltonian vector field of <math id="p2.m2" class="ltx_Math" alttext="H" display="inline"><mi>H</mi></math></span>. The action of <math id="p2.m3" class="ltx_Math" alttext="X_{H}" display="inline"><msub><mi>X</mi><mi>H</mi></msub></math> on <math id="p2.m4" class="ltx_Math" alttext="M" display="inline"><mi>M</mi></math> generates a vector field whose integral curves are solutions to Hamilton’s equations. Those who like to think of equations of motion in terms of the Poisson bracket <math id="p2.m5" class="ltx_Math" alttext="\{H,(q,p)\}" display="inline"><mrow><mo stretchy="false">{</mo><mi>H</mi><mo>,</mo><mrow><mo stretchy="false">(</mo><mi>q</mi><mo>,</mo><mi>p</mi><mo stretchy="false">)</mo></mrow><mo stretchy="false">}</mo></mrow></math> can think of <math id="p2.m6" class="ltx_Math" alttext="X_{H}" display="inline"><msub><mi>X</mi><mi>H</mi></msub></math> One of the ways you can write the <math id="p2.m7" class="ltx_Math" alttext="X_{H}" display="inline"><msub><mi>X</mi><mi>H</mi></msub></math> is by ”currying” the Poisson bracket to say <math id="p2.m8" class="ltx_Math" alttext="X_{H}=\{H,\_\}" display="inline"><mrow><msub><mi>X</mi><mi>H</mi></msub><mo>=</mo><mrow><mo stretchy="false">{</mo><mi>H</mi><mo>,</mo><mi mathvariant="normal">_</mi><mo stretchy="false">}</mo></mrow></mrow></math>.</p>
</div>
<div id="p3" class="ltx_para">
<p class="ltx_p">There are further geometric observations we can make about <math id="p3.m1" class="ltx_Math" alttext="X_{H}" display="inline"><msub><mi>X</mi><mi>H</mi></msub></math>. It is commonly said that canonical transformations (of which time evolution under Hamilton’s equations are an important example) <span class="ltx_text ltx_font_italic">”preserve the area of phase space”</span> - with <math id="p3.m2" class="ltx_Math" alttext="X_{H}" display="inline"><msub><mi>X</mi><mi>H</mi></msub></math> in hand we can look at exactly what that means.</p>
</div>
<div id="p4" class="ltx_para">
<p class="ltx_p">Let us take the area element of a 2<math id="p4.m1" class="ltx_Math" alttext="n" display="inline"><mi>n</mi></math>-dimensional phase space <math id="p4.m2" class="ltx_Math" alttext="M" display="inline"><mi>M</mi></math>, which we will call <math id="p4.m3" class="ltx_Math" alttext="\omega" display="inline"><mi>ω</mi></math>, such an object is can always be written locally as</p>
<table id="S0.E3" class="ltx_equation ltx_eqn_table">

<tbody><tr class="ltx_equation ltx_eqn_row ltx_align_baseline">
<td class="ltx_eqn_cell ltx_eqn_center_padleft"></td>
<td class="ltx_eqn_cell ltx_align_center"><math id="S0.E3.m1" class="ltx_Math" alttext="\omega=dp\wedge dq" display="block"><mrow><mi>ω</mi><mo>=</mo><mrow><mrow><mi>d</mi><mo>⁢</mo><mi>p</mi></mrow><mo>∧</mo><mrow><mi>d</mi><mo>⁢</mo><mi>q</mi></mrow></mrow></mrow></math></td>
<td class="ltx_eqn_cell ltx_eqn_center_padright"></td>
<td rowspan="1" class="ltx_eqn_cell ltx_eqn_eqno ltx_align_middle ltx_align_right"><span class="ltx_tag ltx_tag_equation ltx_align_right">(3)</span></td>
</tr></tbody>
</table>
<p class="ltx_p">To find out how the flows of <math id="p4.m4" class="ltx_Math" alttext="X_{H}" display="inline"><msub><mi>X</mi><mi>H</mi></msub></math> affect <math id="p4.m5" class="ltx_Math" alttext="\omega" display="inline"><mi>ω</mi></math> we should take the Lie derivative, which, by the help of the <span class="ltx_text ltx_font_italic">Cartan homotopy formula</span> is not too difficult, explicitly</p>
<table id="S0.E4" class="ltx_equation ltx_eqn_table">

<tbody><tr class="ltx_equation ltx_eqn_row ltx_align_baseline">
<td class="ltx_eqn_cell ltx_eqn_center_padleft"></td>
<td class="ltx_eqn_cell ltx_align_center"><math id="S0.E4.m1" class="ltx_Math" alttext="\begin{split}L_{X_{H}}\omega&amp;=d(X_{H}\mathbin{\lrcorner}\omega)+X_{H}\mathbin{%
\lrcorner}d\omega\\
&amp;=d(X_{H}\mathbin{\lrcorner}\omega)\\
&amp;=d\left[\left(\frac{\partial H}{\partial p}\partial_{q}-\frac{\partial H}{%
\partial p}\partial_{p}\right)\mathbin{\lrcorner}dp\wedge dq\right]\\
&amp;=-d\left(\frac{\partial H}{\partial p}dp+\frac{\partial H}{\partial p}dq%
\right)\\
&amp;=\frac{\partial^{2}H}{\partial q\partial p}dq\wedge dp+\frac{\partial^{2}H}{%
\partial q\partial p}dp\wedge dq\\
&amp;=\frac{\partial^{2}H}{\partial q\partial p}\left(dq\wedge dp+dp\wedge dq%
\right)\\
&amp;=0\end{split}" display="block"><mtable columnspacing="0pt" displaystyle="true" rowspacing="0pt"><mtr><mtd class="ltx_align_right" columnalign="right"><mrow><msub><mi>L</mi><msub><mi>X</mi><mi>H</mi></msub></msub><mo>⁢</mo><mi>ω</mi></mrow></mtd><mtd class="ltx_align_left" columnalign="left"><mrow><mi></mi><mo>=</mo><mrow><mrow><mi>d</mi><mo>⁢</mo><mrow><mo stretchy="false">(</mo><mrow><msub><mi>X</mi><mi>H</mi></msub><mo lspace="0.222em" rspace="0.222em">⌟</mo><mi>ω</mi></mrow><mo stretchy="false">)</mo></mrow></mrow><mo>+</mo><mrow><mrow><msub><mi>X</mi><mi>H</mi></msub><mo lspace="0.222em" rspace="0.222em">⌟</mo><mi>d</mi></mrow><mo>⁢</mo><mi>ω</mi></mrow></mrow></mrow></mtd></mtr><mtr><mtd></mtd><mtd class="ltx_align_left" columnalign="left"><mrow><mi></mi><mo>=</mo><mrow><mi>d</mi><mo>⁢</mo><mrow><mo stretchy="false">(</mo><mrow><msub><mi>X</mi><mi>H</mi></msub><mo lspace="0.222em" rspace="0.222em">⌟</mo><mi>ω</mi></mrow><mo stretchy="false">)</mo></mrow></mrow></mrow></mtd></mtr><mtr><mtd></mtd><mtd class="ltx_align_left" columnalign="left"><mrow><mi></mi><mo>=</mo><mrow><mi>d</mi><mo>⁢</mo><mrow><mo>[</mo><mrow><mrow><mrow><mrow><mo>(</mo><mrow><mrow><mfrac><mrow><mo rspace="0em">∂</mo><mi>H</mi></mrow><mrow><mo rspace="0em">∂</mo><mi>p</mi></mrow></mfrac><mo lspace="0em">⁢</mo><msub><mo rspace="0em">∂</mo><mi>q</mi></msub></mrow><mo>−</mo><mrow><mfrac><mrow><mo rspace="0em">∂</mo><mi>H</mi></mrow><mrow><mo rspace="0em">∂</mo><mi>p</mi></mrow></mfrac><mo lspace="0em">⁢</mo><msub><mo rspace="0em">∂</mo><mi>p</mi></msub></mrow></mrow><mo>)</mo></mrow><mo lspace="0.222em" rspace="0.222em">⌟</mo><mi>d</mi></mrow><mo>⁢</mo><mi>p</mi></mrow><mo>∧</mo><mrow><mi>d</mi><mo>⁢</mo><mi>q</mi></mrow></mrow><mo>]</mo></mrow></mrow></mrow></mtd></mtr><mtr><mtd></mtd><mtd class="ltx_align_left" columnalign="left"><mrow><mi></mi><mo>=</mo><mrow><mo>−</mo><mrow><mi>d</mi><mo>⁢</mo><mrow><mo>(</mo><mrow><mrow><mfrac><mrow><mo rspace="0em">∂</mo><mi>H</mi></mrow><mrow><mo rspace="0em">∂</mo><mi>p</mi></mrow></mfrac><mo>⁢</mo><mi>d</mi><mo>⁢</mo><mi>p</mi></mrow><mo>+</mo><mrow><mfrac><mrow><mo rspace="0em">∂</mo><mi>H</mi></mrow><mrow><mo rspace="0em">∂</mo><mi>p</mi></mrow></mfrac><mo>⁢</mo><mi>d</mi><mo>⁢</mo><mi>q</mi></mrow></mrow><mo>)</mo></mrow></mrow></mrow></mrow></mtd></mtr><mtr><mtd></mtd><mtd class="ltx_align_left" columnalign="left"><mrow><mi></mi><mo>=</mo><mrow><mrow><mrow><mrow><mfrac><mrow><msup><mo>∂</mo><mn>2</mn></msup><mi>H</mi></mrow><mrow><mo rspace="0em">∂</mo><mrow><mi>q</mi><mo lspace="0em">⁢</mo><mrow><mo rspace="0em">∂</mo><mi>p</mi></mrow></mrow></mrow></mfrac><mo>⁢</mo><mi>d</mi><mo>⁢</mo><mi>q</mi></mrow><mo>∧</mo><mrow><mi>d</mi><mo>⁢</mo><mi>p</mi></mrow></mrow><mo>+</mo><mrow><mfrac><mrow><msup><mo>∂</mo><mn>2</mn></msup><mi>H</mi></mrow><mrow><mo rspace="0em">∂</mo><mrow><mi>q</mi><mo lspace="0em">⁢</mo><mrow><mo rspace="0em">∂</mo><mi>p</mi></mrow></mrow></mrow></mfrac><mo>⁢</mo><mi>d</mi><mo>⁢</mo><mi>p</mi></mrow></mrow><mo>∧</mo><mrow><mi>d</mi><mo>⁢</mo><mi>q</mi></mrow></mrow></mrow></mtd></mtr><mtr><mtd></mtd><mtd class="ltx_align_left" columnalign="left"><mrow><mi></mi><mo>=</mo><mrow><mfrac><mrow><msup><mo>∂</mo><mn>2</mn></msup><mi>H</mi></mrow><mrow><mo rspace="0em">∂</mo><mrow><mi>q</mi><mo lspace="0em">⁢</mo><mrow><mo rspace="0em">∂</mo><mi>p</mi></mrow></mrow></mrow></mfrac><mo>⁢</mo><mrow><mo>(</mo><mrow><mrow><mrow><mrow><mi>d</mi><mo>⁢</mo><mi>q</mi></mrow><mo>∧</mo><mrow><mi>d</mi><mo>⁢</mo><mi>p</mi></mrow></mrow><mo>+</mo><mrow><mi>d</mi><mo>⁢</mo><mi>p</mi></mrow></mrow><mo>∧</mo><mrow><mi>d</mi><mo>⁢</mo><mi>q</mi></mrow></mrow><mo>)</mo></mrow></mrow></mrow></mtd></mtr><mtr><mtd></mtd><mtd class="ltx_align_left" columnalign="left"><mrow><mi></mi><mo>=</mo><mn>0</mn></mrow></mtd></mtr></mtable></math></td>
<td class="ltx_eqn_cell ltx_eqn_center_padright"></td>
<td rowspan="1" class="ltx_eqn_cell ltx_eqn_eqno ltx_align_middle ltx_align_right"><span class="ltx_tag ltx_tag_equation ltx_align_right">(4)</span></td>
</tr></tbody>
</table>
<p class="ltx_p">In the Lie sense then we can say that Hamilton’s equations preserves the area element of phase space.</p>
</div>
<div id="p5" class="ltx_para">
<p class="ltx_p">From the first line of (<a href="#S0.E4" title="" class="ltx_ref"><span class="ltx_text ltx_ref_tag">4</span></a>) we can make the observation that, since <math id="p5.m1" class="ltx_Math" alttext="\omega" display="inline"><mi>ω</mi></math> is closed <math id="p5.m2" class="ltx_Math" alttext="X_{H}\mathbin{\lrcorner}\omega" display="inline"><mrow><msub><mi>X</mi><mi>H</mi></msub><mo lspace="0.222em" rspace="0.222em">⌟</mo><mi>ω</mi></mrow></math> itself (being nonzero) must also be closed. By the Poincaré lemma we know that all closed differential forms are locally exact, i.e. locally we can take <math id="p5.m3" class="ltx_Math" alttext="X_{H}\mathbin{\lrcorner}\omega=df" display="inline"><mrow><mrow><msub><mi>X</mi><mi>H</mi></msub><mo lspace="0.222em" rspace="0.222em">⌟</mo><mi>ω</mi></mrow><mo>=</mo><mrow><mi>d</mi><mo>⁢</mo><mi>f</mi></mrow></mrow></math>. Recalling that</p>
<table id="S0.E5" class="ltx_equation ltx_eqn_table">

<tbody><tr class="ltx_equation ltx_eqn_row ltx_align_baseline">
<td class="ltx_eqn_cell ltx_eqn_center_padleft"></td>
<td class="ltx_eqn_cell ltx_align_center"><math id="S0.E5.m1" class="ltx_Math" alttext="X_{H}\mathbin{\lrcorner}\omega=\frac{\partial H}{\partial p}dp+\frac{\partial H%
}{\partial p}dq" display="block"><mrow><mrow><msub><mi>X</mi><mi>H</mi></msub><mo lspace="0.222em" rspace="0.222em">⌟</mo><mi>ω</mi></mrow><mo>=</mo><mrow><mrow><mfrac><mrow><mo rspace="0em">∂</mo><mi>H</mi></mrow><mrow><mo rspace="0em">∂</mo><mi>p</mi></mrow></mfrac><mo>⁢</mo><mi>d</mi><mo>⁢</mo><mi>p</mi></mrow><mo>+</mo><mrow><mfrac><mrow><mo rspace="0em">∂</mo><mi>H</mi></mrow><mrow><mo rspace="0em">∂</mo><mi>p</mi></mrow></mfrac><mo>⁢</mo><mi>d</mi><mo>⁢</mo><mi>q</mi></mrow></mrow></mrow></math></td>
<td class="ltx_eqn_cell ltx_eqn_center_padright"></td>
<td rowspan="1" class="ltx_eqn_cell ltx_eqn_eqno ltx_align_middle ltx_align_right"><span class="ltx_tag ltx_tag_equation ltx_align_right">(5)</span></td>
</tr></tbody>
</table>
<p class="ltx_p">we see that the function <math id="p5.m4" class="ltx_Math" alttext="f" display="inline"><mi>f</mi></math> introduced <span class="ltx_text ltx_font_bold">is</span> the Hamiltonian (up to some additive constant killed by the exterior derivative). From this point we arrive at the formula usually used to define Hamiltonian vector fields</p>
<table id="S0.E6" class="ltx_equation ltx_eqn_table">

<tbody><tr class="ltx_equation ltx_eqn_row ltx_align_baseline">
<td class="ltx_eqn_cell ltx_eqn_center_padleft"></td>
<td class="ltx_eqn_cell ltx_align_center"><math id="S0.E6.m1" class="ltx_Math" alttext="X_{H}\mathbin{\lrcorner}\omega+dH=0," display="block"><mrow><mrow><mrow><mrow><msub><mi>X</mi><mi>H</mi></msub><mo lspace="0.222em" rspace="0.222em">⌟</mo><mi>ω</mi></mrow><mo>+</mo><mrow><mi>d</mi><mo>⁢</mo><mi>H</mi></mrow></mrow><mo>=</mo><mn>0</mn></mrow><mo>,</mo></mrow></math></td>
<td class="ltx_eqn_cell ltx_eqn_center_padright"></td>
<td rowspan="1" class="ltx_eqn_cell ltx_eqn_eqno ltx_align_middle ltx_align_right"><span class="ltx_tag ltx_tag_equation ltx_align_right">(6)</span></td>
</tr></tbody>
</table>
<p class="ltx_p">where we note that different authors choose different sign conventions for <math id="p5.m5" class="ltx_Math" alttext="dH" display="inline"><mrow><mi>d</mi><mo>⁢</mo><mi>H</mi></mrow></math>.</p>
</div>
<div id="p6" class="ltx_para">
<p class="ltx_p">Hamiltonian vector are related to another class of important vector fields, the <span class="ltx_text ltx_font_italic">symplectic vector fields</span>. While a Hamiltonian vector field we saw happens to preserve <math id="p6.m1" class="ltx_Math" alttext="\omega" display="inline"><mi>ω</mi></math>, symplectic vector fields are by definition the vector fields <math id="p6.m2" class="ltx_Math" alttext="L_{X}\omega=d(X\mathbin{\lrcorner}\omega)=0" display="inline"><mrow><mrow><msub><mi>L</mi><mi>X</mi></msub><mo>⁢</mo><mi>ω</mi></mrow><mo>=</mo><mrow><mi>d</mi><mo>⁢</mo><mrow><mo stretchy="false">(</mo><mrow><mi>X</mi><mo lspace="0.222em" rspace="0.222em">⌟</mo><mi>ω</mi></mrow><mo stretchy="false">)</mo></mrow></mrow><mo>=</mo><mn>0</mn></mrow></math>, note that we are not working in any particular local trivialisation here, we have made a global -purely geometric- statement. The existence of an exact form <math id="p6.m3" class="ltx_Math" alttext="dH" display="inline"><mrow><mi>d</mi><mo>⁢</mo><mi>H</mi></mrow></math> defining a Hamiltonian vector field is what differentiates these two seemingly similar objects.</p>
</div>
</article>
</div>
<footer class="ltx_page_footer">
<div class="ltx_page_logo">Generated  on Tue Sep 17 17:09:47 2024 by <a href="http://dlmf.nist.gov/LaTeXML/" class="ltx_LaTeXML_logo"><span style="letter-spacing:-0.2em; margin-right:0.1em;">L<span class="ltx_font_smallcaps" style="position:relative; bottom:2.2pt;">a</span>T<span class="ltx_font_smallcaps" style="font-size:120%;position:relative; bottom:-0.2ex;">e</span></span><span style="font-size:90%; position:relative; bottom:-0.2ex;">XML</span><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAOCAYAAAD5YeaVAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wKExQZLWTEaOUAAAAddEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIFRoZSBHSU1Q72QlbgAAAdpJREFUKM9tkL+L2nAARz9fPZNCKFapUn8kyI0e4iRHSR1Kb8ng0lJw6FYHFwv2LwhOpcWxTjeUunYqOmqd6hEoRDhtDWdA8ApRYsSUCDHNt5ul13vz4w0vWCgUnnEc975arX6ORqN3VqtVZbfbTQC4uEHANM3jSqXymFI6yWazP2KxWAXAL9zCUa1Wy2tXVxheKA9YNoR8Pt+aTqe4FVVVvz05O6MBhqUIBGk8Hn8HAOVy+T+XLJfLS4ZhTiRJgqIoVBRFIoric47jPnmeB1mW/9rr9ZpSSn3Lsmir1fJZlqWlUonKsvwWwD8ymc/nXwVBeLjf7xEKhdBut9Hr9WgmkyGEkJwsy5eHG5vN5g0AKIoCAEgkEkin0wQAfN9/cXPdheu6P33fBwB4ngcAcByHJpPJl+fn54mD3Gg0NrquXxeLRQAAwzAYj8cwTZPwPH9/sVg8PXweDAauqqr2cDjEer1GJBLBZDJBs9mE4zjwfZ85lAGg2+06hmGgXq+j3+/DsixYlgVN03a9Xu8jgCNCyIegIAgx13Vfd7vdu+FweG8YRkjXdWy329+dTgeSJD3ieZ7RNO0VAXAPwDEAO5VKndi2fWrb9jWl9Esul6PZbDY9Go1OZ7PZ9z/lyuD3OozU2wAAAABJRU5ErkJggg==" alt="Mascot Sammy"></a>
</div></footer>
</div>
</body>
</html>